* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #fafafa;
    display: flex;
    width: 80%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#arrow {
    color: black;
    font-size: 40px;
}

#menu {
    color: #F24957;
    font-size: 40px;
}

main {
    background-color: #fafafa;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #F24957;
    border-radius: 30px;
}

.pequena {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

p,
.paragrafo {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 47.78px;
}

main>section {
    width: 80%;
    height: 60%;
    border-radius: 30px;
    background-color: #f2e085;
    display: flex;
    flex-direction: column;
}

#row1,
#row2 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
}

#row1>div,
#row2>div {
    margin-top: 5%;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#row2>button {
    margin-top: 10%;
    margin-right: 5%;
    width: 10%;
    height: 15%;
    background-color: #F24957;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
}

#row2>button:hover {
    background-color: #c1202e;
}

.dropbtn {
    margin-top: 5%;
    color: white;
    background-color: #F24957;
    height: 18%;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.dropbtn div {
    margin-left: 7%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropbtn button {
    color: white;
    background-color: #F24957;
    border: 3px solid #f2e085;
    border-radius: 45%;
    cursor: pointer;
    height: 117%;
    width: 30%;
}

.dropbtn button:hover {
    background-color: #c1202e;
}

input[type="radio"] {
    margin-top: 10%;
    appearance: none;
    width: 20px;
    padding: 3px;
    height: 20px;
    border: 2px solid #F24957;
    border-radius: 50%;
    background-clip: content-box;
    vertical-align: bottom;
    margin-right: 5px;
    cursor: pointer;
}

input[type="radio"]:checked {
    background-color: #F24957;
}

input[type="radio"]:hover {
    border: 2px solid #c1202e;
}

#refeição div label {
    margin-top: 10%;
    text-align: left;
}

#data>div {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#data>div button {
    cursor: pointer;
    width: 50%;
    background-color: #F24957;
    color: white;
    border: none;
    border-radius: 45px;
    text-align: center;
}

#data>div button:hover {
    background-color: #c1202e;
}

#data>div span {
    background-color: transparent;
    color: #F24957;
    font-size: 38px;
}

footer {
    color: #83388C;
    margin-top: 3%;
    height: 7%;
    width: 99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif;
    padding-left: 1%;
    box-shadow: 5px 5px 20px rgb(207, 207, 207);
}

#footer {
    color: #000;
    width: 17%;
    font-family: 'Poppins', sans-serif;
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#whatsapp,
#phone {
    color: #83388C;
}

#fc {
    font-size: 18px;
    font-weight: lighter;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}